<!DOCTYPE html>
<html>
<head>
    <%- include('./head') %>
    <style>
      .headImagepara{
        padding-top: 5px;
        text-align: center;
      }
      .headImage{
        margin:auto;
        height:50vh;
        width: 50vw;
      }
      .place_header , .place_details{
        text-align: center;
      }
      .all_headings{
        color:rgb(179, 12, 76);
        font-weight: bold;
      }
    </style>
</head>
<body>
    <%- include('./navbar') %>

    <div class="container">
      <p class="headImagepara"><img class="img-responsive headImage" src="<%= '/images/' + result[0].image_paths[0] %>"></p>
      <h3 class="place_header all_headings"><%= result[0].place_name %></h3>
      <p class="place_details all_headings"><%= result[0].district %>. <%= result[0].state %>.   <%= result[0].country %></p>
      <hr>
      <h4 class="all_headings">About</h4>
      <p><%= result[0].description %></p>
    </div>
</body>
</html>